{% extends 'home.html' %}

{% block container %}
    <div class="top-pad">
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.csrf_token }}
            <div class="mb-3 fw-bold">
                {{ form.username.label }}: {{ form.username() }}
            </div>
            <div class="mb-3 fw-bold">
                {{ form.password.label }}: {{ form.password() }}
            </div>
            <div class="mb-3 fw-bold">
                {{ form.confirm.label }}: {{ form.confirm() }}
            </div>
            <input type="submit" class="btn btn-success" value="Submit">
            <a class="btn btn-secondary" href="{{ url_for('auth.login') }}">Login</a>
        </form>
    </div>
{% endblock %}